.input-section {
  position: relative;
  display: flex;
  flex-direction: column;
  label {
    margin-left: 0.1rem;
    margin-bottom: 0.3rem;
  }

  input {
    border-radius: var(--border-radius);
    font-family: inherit;
    border: none;
    background-color: var(--white-light);
    outline: 1px solid black;
    padding: 0.3rem;
    transition: outline-color 500ms;
    // margin: 0.3rem;

    &::placeholder {
      opacity: 0.5;
    }

    &.indicated {
      outline-color: var(--danger);
      outline-width: 2px;
    }
  }

  .indicator {
    width: 0.6rem;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    bottom: 0.8rem;
    left: -0.5rem;
    background-color: var(--danger);
  }
}
