#login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  transition: opacity 400ms;

  &.login-transition {
    opacity: 0;
  }

  .col-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-title {
    color: white;
    text-align: left;
    width: 17rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    font-weight: 400;
    text-shadow: black 0px 0px 10px;
    transition: opacity 200ms;
  }

  #form-bg {
    gap: 50%;
    width: 17rem;
    position: relative;
    overflow-x: hidden;
    transition: opacity 200ms;

    .form-container {
      flex-shrink: 0;
      width: 100%;
      padding: 1rem;
      transition: transform 500ms;
      overflow-x: hidden;

      & > * {
        padding-top: 0.5rem;
      }
    }

    #login-form-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;

      section {
        display: flex;
        flex-direction: column;
      }
    }

    #register-form-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;
      section {
        display: flex;
        flex-direction: column;
      }
    }
  }

  #error-text {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.9rem;
    text-align: center;
    transition: opacity 400ms;
    transform: translateX(-100%);
    opacity: 0;

    &.show {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .scoot {
    transform: translateX(-150%);
  }

  .buttons {
    gap: 0.5rem;
  }
}
