.button-component {
  border: none;
  outline: solid var(--black) 1px;
  transition: outline-offset 100ms;
  padding: 0.2rem 2rem;
  background-color: var(--accent-2);
  color: white;
  font-family: inherit;

  &.underline {
    outline-color: transparent;
    background: transparent;
    color: var(--black);
    text-decoration: underline;

    &:focus {
      outline-color: var(--black);
      outline-offset: 0;
    }
  }

  &.secondary {
    background: transparent;
    background-color: var(--accent-1-weak);
  }

  &:focus,
  &:hover {
    outline-offset: 0.2rem;
    cursor: pointer;
  }

  &:active {
    outline-offset: 0.1rem;
  }
}
