#dots-background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--accent-1), var(--accent-2));
  overflow: hidden;
  position: absolute;
  display: grid;
  place-content: center;
  z-index: -1;

  .dots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .dot-container {
      width: 100px;
      height: 100px;
      flex-grow: 1;
      display: grid;
      place-items: center;

      .dot {
        height: 8px;
        width: 8px;
        background-color: var(--accent-3);
        border-radius: 9px;
        transition-duration: 2s;
      }
    }
  }
}
