#room-view {
  height: 100%;
  display: flex;
  justify-content: center;

  #room-view-content {
    flex-direction: column;
    height: calc(100% - 8rem);
    position: relative;
    max-width: 1000px;
    // min-width: min(50%, 1200px);
    width: 100%;
    margin: 4rem;
    justify-content: space-between;

    .room-header {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      border-bottom: 1px solid black;
      position: relative;

      .back-button {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        display: grid;
        place-content: center;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .message-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 100%;
      overflow: scroll;
      padding: 0.5rem 1rem;
      // scroll-behavior: smooth;

      .message-row {
        width: 100%;
        display: flex;
        color: white;
        // background-color: red;

        &.own-message {
          justify-content: end;
        }

        .message-bubble {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          position: relative;

          .message {
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius);
            // border: 1px solid black;
            position: relative;
            // box-shadow: rgba(0, 0, 0, 0.312) -4px 3px 1px 0px;
            box-shadow: rgba(0, 0, 0, 0.312) 0px 2px 3px 0px, rgba(0, 0, 0, 0.312) 0px 1px 5px 0px;
          }

          .sender {
            color: var(--gray);
          }
        }
      }
    }

    .message-input-container {
      border-top: 1px solid black;
      display: flex;
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      // margin: 0.5rem;

      section {
        width: 100%;
      }
    }
  }
}
